<div class="container text-center mt-5">
  <div class="row mt-5">
    <form class="custom-form" method="post">
      <h1>Login</h1>
      <div class="col">
        <input class="form-control" type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required" />
      </div>
      <div class="col">
        <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required" />
      </div>
      <div class="col">
        <button class="btn btn-success" type="submit" (click)="login()" [routerLink]="['/']">Log in</button>
      </div>
    </form>
  </div>
  <div class="row">
    <button class="btn btn-outline-danger" routerLink="/register">Registro</button>
  </div>
</div>