<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 p-4">
  <a class="navbar-brand text-danger fw-bold fst-italic" href="#">CarBoCe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-danger col-6" *ngIf="this.sesion.retrieve('usuario'); else login;">
        Hola,
        {{this.sesion.retrieve("usuario")}}
      </li>
      <li class="nav-item col-4 ms-2">
        <a class="nav-link text-danger" href="#">Cartas</a>
      </li>
      <li class="nav-item col-4">
        <a class="nav-link text-danger" href="#">Listas</a>
      </li>
    </ul>
    <!--
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>

<ng-template #login>
  <li class="nav-item">
    <a class="nav-link text-danger" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" routerLink="/register">Registro</a>
  </li>
</ng-template>