<div class="container mt-5">
  <div *ngFor="let Mazo of this.Mazo">
    <h1 class="p-3 text-danger text-center mt-5 shadow bg-body rounded border border-danger">{{Mazo.nombre}}</h1>

    <!--Cartas-->
    <div class="row">
      <div class="col" *ngFor="let carta of Mazo.cartas">
        <nav class="navbar navbar-expand-block">
          <div class="card" style="width: 15rem;">
            <!--Falla no esta cogiendo bien el id o algo asi-->
            <a routerLink="/carta/id/{{carta._id}}">
              <img *ngIf="carta.image_uris" src="{{carta.image_uris.normal}}" class="card-img-top">
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>