<div class="container">
  <h1 class="p-3 text-danger text-center mt-5 shadow bg-body rounded border border-danger border-3">Cartas que coinciden con
    {{this.palabra}}</h1>
  <div class="row">
    <div class="col" *ngFor="let carta of Cartas">
      <nav class="navbar navbar-expand-block">
        <div class="card" style="width: 15rem;">
          <!--Falla no esta cogiendo bien el id o algo asi-->
          <a routerLink="/carta/id/{{carta._id}}">
            <img *ngIf="carta.image_uris" src="{{carta.image_uris.normal}}" class="card-img-top">
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>

<!--Paginador Prueba Automatico-->
<div class="row mb-5 p-5">
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" *ngIf="this.page>0; else limiteInferior"
      [routerLink]="['/buscador/'+this.palabra+'/', this.page-1]" (click)="paginaAnterior()">&lt;</button>
  </div>

  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/1" (click)="paginaAnterior()">1</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/2" (click)="paginaAnterior()">2</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/3" (click)="paginaAnterior()">3</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/4" (click)="paginaAnterior()">4</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/5" (click)="paginaAnterior()">5</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/6" (click)="paginaAnterior()">6</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/7" (click)="paginaAnterior()">7</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/8" (click)="paginaAnterior()">8</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/9" (click)="paginaAnterior()">9</button>
  </div>
  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" routerLink="/buscador/{{this.palabra}}/10" (click)="paginaAnterior()">10</button>
  </div>

  <div class="col">
    <button class="btn btn-light text-danger btn-lg m-2" *ngIf="this.page<=(this.limite-1); else limiteSuperior"
      [routerLink]="['/buscador/'+this.palabra+'/', this.page+1]" (click)="paginaPosterior()">
      >
    </button>
  </div>
</div>

<ng-template #limiteInferior>
  <button class="btn btn-light text-danger btn-lg m-2" disabled>&lt;</button>
</ng-template>
<ng-template #limiteSuperior>
  <button class="btn btn-light text-danger btn-lg m-2" disabled>></button>
</ng-template>