<div class="container">
  <h1 class="p-3 text-danger text-center mt-5 shadow bg-body rounded border border-danger border-3">Cartas que coinciden con
    {{this.palabra}}</h1>
  <div class="row">
    <div class="col" *ngFor="let carta of Cartas">
      <nav class="navbar navbar-expand-block">
        <div class="card" style="width: 15rem;">
          <!--Falla no esta cogiendo bien el id o algo asi-->
          <a routerLink="/carta/id/{{carta._id}}">
            <img *ngIf="carta.image_uris" src="{{carta.image_uris.normal}}" class="card-img-top">
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>

<!--Paginador Prueba Automatico-->
<div class="row mb-5 p-5">
  <div class="col-10">
    <button class="btn btn-light text-danger btn-lg m-4" *ngIf="this.page>0; else limiteInferior"
      [routerLink]="['/buscador/'+this.palabra+'/', this.page-1]" (click)="paginaAnterior()">&lt;</button>
  </div>
  <div class="col-2">
    <button class="btn btn-light text-danger btn-lg m-4" *ngIf="this.page<=(this.limite-1); else limiteSuperior"
      [routerLink]="['/buscador/'+this.palabra+'/', this.page+1]" (click)="paginaPosterior()">
      >
    </button>
  </div>
</div>

<ng-template #limiteInferior>
  <button class="btn btn-light text-danger btn-lg m-4" disabled>&lt;</button>
</ng-template>
<ng-template #limiteSuperior>
  <button class="btn btn-light text-danger btn-lg m-4" disabled>></button>
</ng-template>