<div class="container">
  <h1 class="p-3 text-danger text-center mt-3 shadow bg-body rounded border border-danger border-3">Resultados:
    {{this.palabra}}</h1>

  <!--Paginador Prueba Automatico-->
  <div class="row py-2">
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page>0; else limiteInferior"
        [routerLink]="['/buscador/'+this.palabra+'/', this.page-1]" (click)="paginaAnterior()">&lt;</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.page>=1">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page-1}}"
        (click)="pagina(this.page-1)" *ngIf="this.page>=1">{{this.page-1}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page}}"
        disabled>{{this.page}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page+1}}"
        (click)="pagina(this.page+1)" *ngIf="this.Cartas.length>=12">{{this.page+1}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.Cartas.length>=12">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page<=(this.limite-1); else limiteSuperior"
        [routerLink]="['/buscador/'+this.palabra+'/', this.page+1]" (click)="paginaPosterior()">
        >
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto p-1" *ngFor="let carta of Cartas">
          <a routerLink="/carta/id/{{carta._id}}">
            <img *ngIf="carta.image_uris; else reverso" src="{{carta.image_uris.normal}}" class="card-img-top">
          </a>
    </div>
  </div>

  <!--Paginador Prueba Automatico-->
  <div class="row p-2">
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page>0; else limiteInferior"
        [routerLink]="['/buscador/'+this.palabra+'/', this.page-1]" (click)="paginaAnterior()">&lt;</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.page>=1">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger  rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page-1}}"
        (click)="pagina(this.page-1)" *ngIf="this.page>=1">{{this.page-1}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page}}"
        disabled>{{this.page}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/buscador/{{this.palabra}}/{{this.page+1}}"
        (click)="pagina(this.page+1)" *ngIf="this.Cartas.length>=12">{{this.page+1}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.Cartas.length>=12">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page<=(this.limite-1); else limiteSuperior"
        [routerLink]="['/buscador/'+this.palabra+'/', this.page+1]" (click)="paginaPosterior()">
        >
      </button>
    </div>
  </div>

  <ng-template #limiteInferior>
    <button class="btn btn-light text-danger rounded-pill" disabled>&lt;</button>
  </ng-template>
  <ng-template #limiteSuperior>
    <button class="btn btn-light text-danger rounded-pill" disabled>></button>
  </ng-template>
  <ng-template #reverso>
    <img src="../../assets/reverso.jpg" class="card-img-top">
  </ng-template>