<div class="row align-items-start  p-2">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="btn">
      <h1 class="text-danger fw-bold" routerLink="/">CarBoCe</h1>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto ms-4">
        <li class="nav-item">
          <a class="nav-link h5 text-danger" routerLink="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5 text-danger" routerLink="/carta">CARTAS</a>
        </li>
        <li class="nav-item" *ngIf="this.sesion.retrieve('usuario');">
          <a class="nav-link h5 text-danger" routerLink="/user">MAZOS</a>
        </li>
        <li class="nav-item text-danger" *ngIf="this.sesion.retrieve('usuario'); else login;">
          Hola,
          {{this.sesion.retrieve("usuario")}}
        </li>
        <li class="nav-item">
          <button class="h5 btn btn-outline-danger" (click)="deslogueo()" *ngIf="this.sesion.retrieve('usuario');">CERRAR SESIÓN</button>
        </li>
      </ul>
    </div>
    <buscador></buscador>
  </nav>
</div>


<ng-template #login>
  <li class="col-4">
    <a class="nav-link h5 text-danger" routerLink="/login">LOGIN</a>
  </li>
</ng-template>