<div class="container-fluid">
  <div class="row align-items-start py-4 bg-light max-width-100">
    <nav class="navbar navbar-expand-md navbar-light ">
      <button class="btn">
        <h1 class="text-danger fw-bold" routerLink="/home">CarBoCe</h1>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link h5 text-danger" routerLink="/home" data-bs-toggle="tooltip" data-bs-placement="left" title="Home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 text-danger" routerLink="/carta/page/0" data-bs-toggle="tooltip" data-bs-placement="left"
              title="Ver más cartas">CARTAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h5 text-danger" (click)="limpiar()" data-bs-toggle="tooltip"
              data-bs-placement="left" title="Ver carta aleatoria">RANDOM</a>
          </li>
          <li class="nav-item" *ngIf="this.sesion.retrieve('usuario');" data-bs-toggle="tooltip" data-bs-placement="left"
            title="Ver mis mazos creados">
            <a class="nav-link h5 text-danger" routerLink="/user/{{this.sesion.retrieve('usuario')}}">MAZOS</a>
          </li>
          <li class="nav-item text-danger mt-2" *ngIf="this.sesion.retrieve('usuario'); else login;">
            Hola, {{this.sesion.retrieve("usuario")}}
          </li>
          <li class="nav-item ms-3">
            <button class="btn" (click)="deslogueo()" *ngIf="this.sesion.retrieve('usuario');" data-bs-toggle="tooltip"
              data-bs-placement="left" title="Log Out">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="red" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                <path
                  d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <buscador></buscador>
    </nav>
  </div>
</div>

<ng-template #login>
  <li class="col-4">
    <a class="nav-link h5 text-danger" routerLink="/login">LOGIN</a>
  </li>
</ng-template>