<div class="container-fluid bg-light p-2  fixed-top">
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="btn">
      <h2 class="text-danger fw-bold" routerLink="/">CarBoCe</h2>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto ms-4">
        <li class="nav-item">
          <a class="nav-link h5 text-danger" routerLink="/carta">Cartas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5 text-danger" routerLink="/user" *ngIf="this.sesion.retrieve('usuario');">Listas</a>
        </li>
       <li class=" nav-item">
        </li>
        <li class="nav-item" *ngIf="this.sesion.retrieve('usuario'); else login;">
          Hola,
          {{this.sesion.retrieve("usuario")}}
        </li>
        <li class="nav-item">
          <a class="nav-link h5 text-danger" (click)="deslogueo()" *ngIf="this.sesion.retrieve('usuario');">Cerrar Sesión</a>
        </li>
      </ul>
      
    </div>
  </nav>
</div>

<ng-template #login>
  <li class="nav-item">
    <a class="nav-link h5 text-danger" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link h5 text-danger" routerLink="/register">Registro</a>
  </li>
</ng-template>

<router-outlet></router-outlet>
<!--Si no estas logueado te muestra el boton de loguin-->