<div class="container" ng-app="buscador">
  <h1 class="text-light p-5 text- text-center">Cartas</h1>

  <!--Desplegable Sets-->
  <div class="row">
    <div class="col">
      <div class="dropdown mb-4">
        <button class="btn btn-secondary text-light dropdown-toggle" type="button" id="sets" data-bs-toggle="dropdown"
          aria-expanded="false">
          Ediciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="sets">
          <li *ngFor="let set of sets">
            <button class="dropdown-item text-danger" routerLink="/set/{{set._id.set}}">
              {{set._id.set_name}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

    </div>
  </div>

  <!--Cartas-->
  <div class="row">
    <div class="col" *ngFor="let carta of Cartas">
      <nav class="navbar navbar-expand-block">
        <div class="card" style="width: 18rem;">
          <!--Falla no esta cogiendo bien el id o algo asi-->
          <a routerLink="/carta/id/{{carta._id}}">
            <img *ngIf="carta.image_uris" src="{{carta.image_uris.normal}}" class="card-img-top">
          </a>
        </div>
      </nav>
    </div>
  </div>

  <!--Paginador Prueba Automatico//
  -->
  <div class="row ">
    <div class="col-10">
      <button class="btn btn-light text-danger btn-lg m-4" *ngIf="this.page>0; else limiteInferior"
        [routerLink]="['/carta/page', this.page-1]" (click)="paginaAnterior()">-</button>
    </div>
    <div class="col-2">
      <button class="btn btn-light text-danger btn-lg m-4" *ngIf="this.page<=(total-1); else limiteSuperior"
        [routerLink]="['/carta/page', this.page+1]" (click)="
        paginaPosterior()">+</button>
    </div>
  </div>

  <ng-template #limiteInferior>
    <button class="btn btn-light text-danger btn-lg m-4" disabled>-</button>
  </ng-template>
  <ng-template #limiteSuperior>
    <button class="btn btn-light text-danger btn-lg m-4" disabled>+</button>
  </ng-template>
</div>