<div class="container mt-5">
  <h1 class="p-3 text-danger text-center mt-5 shadow bg-body rounded border border-danger border border-3">{{setReal}}</h1>

  <!--Desplegable Sets-->
  <div class="row">
    <div class="col">
      <div class="dropdown mt-4 mb-4">
        <button class="btn btn-light btn-outline-danger dropdown-toggle" type="button" id="sets" data-bs-toggle="dropdown"
          aria-expanded="false">
          Ediciones
        </button>
        <ul class="dropdown-menu dropdown-scrollbar" aria-labelledby=" sets">
          <li *ngFor="let set of sets">
            <button class="dropdown-item text-danger" routerLink=" /set/{{set._id.set}}/0" (click)="recargar()">
              {{set._id.set_name}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--Paginador Prueba Automatico-->
  <div class="row pb-2">
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page > 0; else limiteInferior"
        [routerLink]="['/set/setActual', this.page-1]" (click)="paginaAnterior()" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página anterior">
        &lt;
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.page>=1">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page-1}}"
        (click)="pagina(this.page-1)" *ngIf="this.page>=1" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página {{this.page-1}}">
        {{this.page-1}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page}}" disabled>
        {{this.page}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page+1}}"
        (click)="pagina(this.page+1)" *ngIf="this.Cartas.length>=12" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página {{this.page+1}}">{{this.page+1}}</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.Cartas.length>=12">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="Cartas.length >= 12; else limiteSuperior"
        [routerLink]="['/set/'+setActual, this.page+1]" (click)="paginaPosterior()" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la siguiente página">
        >
      </button>
    </div>
  </div>

  <!--Cartas-->
  <div class=" row">
    <div class="col-8 col-md-6 col-lg-4 col-xl-3 mx-auto p-1" *ngFor="let carta of Cartas">
      <a routerLink="/carta/id/{{carta._id}}">
        <img *ngIf="carta.image_uris; else reverso" src="{{carta.image_uris.normal}}" class="card-img-top">
      </a>
    </div>
  </div>

  <!--Paginador Prueba Automatico-->
  <div class="row p-2">
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="this.page > 0; else limiteInferior"
        [routerLink]="['/set/setActual', this.page-1]" (click)="paginaAnterior()" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página anterior">
        &lt;
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.page>=1">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page-1}}"
        (click)="pagina(this.page-1)" *ngIf="this.page>=1" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página {{this.page-1}}">
        {{this.page-1}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page}}" disabled>
        {{this.page}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" routerLink="/set/{{this.setActual}}/{{this.page+1}}"
        (click)="pagina(this.page+1)" *ngIf="this.Cartas.length>=12" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la página {{this.page+1}}">
        {{this.page+1}}
      </button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger disabled rounded-pill" *ngIf="this.Cartas.length>=12">...</button>
    </div>
    <div class="col">
      <button class="btn btn-light text-danger rounded-pill" *ngIf="Cartas.length >= 12; else limiteSuperior"
        [routerLink]="['/set/'+setActual, this.page+1]" (click)="paginaPosterior()" data-bs-toggle="tooltip" data-bs-placement="left"
        title="Ir a la siguiente página">
        >
      </button>
    </div>
  </div>
</div>

<ng-template #limiteInferior>
  <button class="btn btn-light text-danger rounded-pill" disabled>&lt;</button>
</ng-template>
<ng-template #limiteSuperior>
  <button class="btn btn-light text-danger rounded-pill" disabled>></button>
</ng-template>
<ng-template #reverso>
  <img src="../../assets/reverso.jpg" class="card-img-top">
</ng-template>