<div class="container mt-5">
  <h1 class="p-3 text-danger text-center mt-5 shadow bg-body rounded border border-danger">{{setActual}}</h1>

  <!--Desplegable Sets-->
  <div class="row">
    <div class="col">
      <div class="dropdown mt-4 mb-4">
        <button class="btn btn-light btn-outline-danger dropdown-toggle" type="button" id="sets" data-bs-toggle="dropdown"
          aria-expanded="false">
          Ediciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="sets">
          <li *ngFor="let set of sets">
            <button class="dropdown-item text-danger" routerLink="/set/{{set._id.set}}">
              {{set._id.set_name}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--Cartas-->
  <div class="row">
    <div class="col" *ngFor="let carta of Cartas">
      <nav class="navbar navbar-expand-block">
        <div class="card" style="width: 16rem;">
          <!--Falla no esta cogiendo bien el id o algo asi-->
          <a routerLink="/carta/id/{{carta._id}}">
            <img *ngIf="carta.image_uris" src="{{carta.image_uris.normal}}" class="card-img-top">
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>

