<div class="container" style="z-index: 1; position: relative;">
  <input type="text" class="form-control border border-danger border-2" placeholder="Buscador" (keyup)="buscador($event)"
    [(ngModel)]="busca" name="busca">
  <div class="row">
    <ul class="list-group" style="z-index: 5;  position:absolute;">
      <li class="list-group-item " *ngFor="let carta of Cartas">
        <a class="link-dark" (click)="limpiar()" routerLink="/carta/id/{{carta._id}}">
          {{carta.name}}--{{carta.set_name}}
        </a>
      </li>
      <li class="list-group-item" *ngIf="this.palabra.length>2">
        <a class="link-danger" routerLink="/buscar/{{this.palabra}}/0" (click)="limpiar()">
          Ver Más
        </a>
      </li>
    </ul>
  </div>
</div>