<div class="container ">
  <div class="row  m-2">
    <div class="col col-md-4 bg-dark p-3  mx-auto">

      <div id="cartas" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="row">
            <div class="carousel-item active">
              <div class="col">
                <a routerLink="/carta/id/624f399388e7337f79db5c4b">
                  <img
                    src="https://c1.scryfall.com/file/scryfall-cards/normal/front/0/9/0948e6dc-8af7-45d3-91de-a2aebee83e82.jpg?1559591784"
                    class="d-block w-100" style="width:26em;">
                </a>
              </div>
            </div>
            <div class="carousel-item" *ngFor="let carta of Carusel">
              <div class="col" *ngIf="carta.image_uris; else reverso;">
                <a routerLink="/carta/id/{{carta._id}}">
                  <img src="{{carta.image_uris.normal}}" class="d-block w-100" style="width:26em;">
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#cartas" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cartas" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #reverso>
  <div class="col">
    <img src="../../assets/reverso2.jpg" class="d-block w-100" style="width:26em;">
  </div>
</ng-template>